#dialogs {
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#dialogs .background {
    background-color: rgb(0, 0, 0);
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

#dialogs h1 {
    background: linear-gradient(rgb(204, 204, 204), rgb(102, 102, 102) );
    border: 2px solid rgb(102, 102, 102);
    border-bottom: 0;
    border-top: 0;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 0.8em 0.8em 0.8em 2%;
}

#dialogs .close {
    background: linear-gradient(#333, #666);
    border: 2px solid #333;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #222;
    color: #ddd;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    margin-top: -4px;
    padding: 4px 7px 3px;
    position: relative;
    text-shadow: 2px 2px 2px #111;
    user-select: none;
}

#dialogs .close:hover {
    background: linear-gradient(#666, #333);
}

#dialogs .close:active {
    top: 1px;
}

#dialogs .dialog {
    height: auto;
    margin: 0 5%;
    position: absolute;
    top: -100%;
    transition-property: top;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    width: 90%;
    z-index: 3;
}

#dialogs .dialog.displayed {
    top: 0;
}

#dialogs .content {
    background-color: white;
    border: 2px solid rgb(102, 102, 102);
    border-top: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 1em 0 1.5em 2%;
}

#dialogs .content .row {
    margin-bottom: 0.5em;
    overflow: auto;
}

#dialogs .content input {
    float: left;
    font-family: Verdana;
    font-size: 1.33em;
    padding: 0.5em;
    width: 94%;
}

#dialogs .content .row .error {
    display: none;
    float: left;
    font-size: 1.2em;
    margin-left: 1em;
}

#dialogs .content .row.error input {
    background-color: rgb(247, 243, 184);
}

#dialogs .content .row.error .error {
    color: rgb(218, 2, 51);
    display: block;
    margin-top: 0.25em;
}

#dialogs .content .actions {
    margin-top: 2em;
    text-align: left;
}

#dialogs .content .actions button {
    margin-right: 1em;
}

#dialogs .content .actions .message {
    display: inline-block;
}

/* =========== */
/* CARS dialog */
/* =========== */
#dialogs .cars.dialog {
    margin: 0 25%;
    width: 50%;
}

#dialogs .content .color.row {
    padding: 0.5em 1em 0.5em 0.8em;
    position: relative;
}

#dialogs .content .color.row label {
    color: rgb(127, 127, 127);
    float: left;
    font-size: 1.33em;
    margin: 0.3em 1em 0 0;
    width: 50%;
}


#dialogs .content .color.row .swatch {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(221, 221, 221) solid;
    border-radius: 12px;
    height: 5em;
    left: 5em;
    position: absolute;
    top: 7em;
    width: 5em;
}

#dialogs .content .color.row .color-picker {
    background-color: gray;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: 0.6em;
    overflow: auto;
    padding: 0.5em;
    position: relative;
    top: 0;
    width: 15em;
}

#dialogs .content .color.row .picker-wrapper {
    float: left;
    position: relative;
}

#dialogs .content .color.row .picker {
    cursor: crosshair;
    height: 200px;
    width: 200px;
}

#dialogs .content .color.row .picker-indicator {
    background-color: white;
    border: 2px solid darkblue;
    border-radius: 4px 4px 4px 4px;
    height: 5px;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 5px;
}

#dialogs .content .color.row .slider-wrapper {
    float: left;
    margin-left: 0.5em;
    position: relative;
}

#dialogs .content .color.row .slide {
    cursor: crosshair;
    height: 200px;
    width: 30px;
}

#dialogs .content .color.row .slide-indicator {
    background-color: white;
    border: 4px solid lightblue;
    border-radius: 4px 4px 4px 4px;
    height: 1px;
    left: -4px;
    opacity: 0.6;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}